<div class="container mt-5 border bg-success rounded-3">
  <form class="d-flex justify-content-center mt-3 mb-3" action="/answer" data-turbo="false">
    <input class="form-control" style="width: 50%" type="text" name="question" placeholder="Mbappé a Paris !!!!">
    <input class="btn btn-primary ms-3" type="submit" value="Ask!">
  </form>
<div>
